<div class="navbar-fixed">
  <nav class="purple darken-3">
    <div class="nav-wrapper">
      <a target="_blank" href="https://www.instagram.com/explore/tags/breakingthroughcareers/" class="brand-logo">#breakingthroughcareers</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a target="_blank" href="{{event.facebook}}">View on Facebook</a></li>
      </ul>
    </div>
  </nav>  
</div>

<header class="site-hero">
  <section>
    <h1 class="white-text">{{title}}</h1>
    <p class="white-text flow-text">
      <strong>{{tagline}}</strong>
    </p>
    <button md-raised-button class="orange lighten-2 white-text text-lighten-4" (click)="clicked(event.facebook)">View Event</button>
  </section>
</header>




<section class="purple darken-4">
  <div class="container">
    <h4 class="purple-text text-lighten-5 promotion">This event allows kids to:</h4>

    <div class="row promotion purple-text text-lighten-5">
      <div *ngFor="let promo of highlights" class="col s12 m4">
        <div class="icon-holder {{promo.color}}">
          <md-icon>{{promo.icon}}</md-icon>
        </div>
        <h5>{{promo.title}}</h5>
        <hr>
        <p style="margin-top: 0;">{{promo.message}}</p>
      </div>
    </div>  
  </div>
</section>



<section class="photos">
  <div class="container" style="text-align: center">
    <h4 class="purple-text"> A few 📷 from our event!</h4>
    <p class="flow-text">Please feel free to share more to us by posting on Instagram under <a target="_blank" href="https://www.instagram.com/explore/tags/breakingthroughcareers/" class="brand-logo">#breakingthroughcareers</a></p>
    <div class="gallery">
      <img src="/images/gallery-1.jpg">
      <img src="/images/gallery-2.jpg">
      <img src="/images/gallery-3.jpg">
      <img src="/images/gallery-4.jpg">
      <img src="/images/gallery-5.jpg">
      <img src="/images/gallery-6.jpg">      
    </div>
  </div>
</section>


<div class="container">
  <h3 class="purple-text text-darken-5">Our Dedicated Volunteers</h3>

  <section class="row volunteers">
    <div *ngFor="let volunteer of volunteers" class="volunteer {{volunteer.name.first.toLowerCase()}}">
      <md-card class="grey lighten-5">
        <md-card-header>
          <img md-card-avatar src="{{volunteer.image}}">
          <md-card-title class="volunteer-title">
            {{volunteer.name.first}} {{volunteer.name.last}}
          </md-card-title>
          <md-card-subtitle>
            {{volunteer.title}}
            <span class="organization">{{volunteer.organization}}</span>
          </md-card-subtitle>
        </md-card-header>
        <md-card-content>{{volunteer.mission}}</md-card-content>
         <md-card-footer style="text-align: right">
            <small class="grey-text text-darken-1">{{volunteer.sector}}</small>
            <button md-button (click)="clicked(volunteer.profile)" class="purple darken-5 white-text">More</button>
         </md-card-footer>
      </md-card>
    </div>
  </section>
</div>

<div class="venue">
  <div class="container">
    <div class="info">
      <h3>The Venue</h3>
      <p>
        {{event.location}}<br>
        {{event.address}}
      </p>      
    </div>
  </div>
</div>

<div class="container sponsors">
  <h3>Our Generous Sponsors</h3>
  <div style='text-align: center'>
    <figure *ngFor="let sponsor of sponsors">
      <a href="{{sponsor.url}}" target="_blank">
        <img src="/images/{{sponsor.img}}" alt="">    
      </a>
    </figure>    
  </div>
</div>


<footer class="page-footer purple darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Continue The Discussion</h5>
        <p class="grey-text text-lighten-4" [innerHTML]=footerMessage></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li *ngFor="let sponsor of sponsors">
            <a class="grey-text text-lighten-3" href="{{sponsor.url}}" target="_blank">{{sponsor.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright purple darken-4">
    <div class="container">
    © Copyright {{copyrightYear.getYear() + 1900}} Brown Club of Miami
    <a class="grey-text text-lighten-4 right" href="http://danielprada.co" target="_blank">About the site</a>
    </div>
  </div>
</footer>

