/* You can add global styles to this file, and also import other style files */

body {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.site-hero {
  background: url("images/i-am-smart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 3em 1em;
}

.site-hero section {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 0.5em;
  padding: 2em;
}

.site-hero button {
  font-size: 1.3em;
  padding: 0.25em 1em;
}

.site-hero h1, .site-hero p {
  text-shadow: 1px 3px 13px rgb(0, 0, 0);
}

.volunteers { column-count: 3;}
@media screen and (min-width: 481px) and (max-width: 1024px) {.volunteers { column-count: 2;}}
@media screen and (max-width: 480px) { .volunteers { column-count: 1;}}

.volunteer {
  display: inline-block;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
}

.volunteer img {
  max-width: 100%;
  height: auto;
  width: 50%;
  border: 3px solid #9c27b0;
  display: block;
  margin: 0 auto;
}

.volunteer-title {
  margin-bottom: 10px;
  font-weight: 800;
  text-align: center;
  font-size: 1.1em;
  margin-top: 4px;
}

.volunteer .md-card-header-text, 
.volunteer md-card-header {
  height: inherit;
}

.volunteer md-card-header {
  margin-bottom: 0em;
  display: block;
}

md-card {
  margin-bottom: 1em;
}

md-card-subtitle {
  line-height: 1.2em;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

md-card-footer small {
  float: left;
  margin-left: 23px;
  margin-top: 6px;
}

.promotion {
  padding: 30px 0;
  text-align: center;
}

.promotion hr {
  opacity: 0.15;
  margin-left: 2em;
  margin-right: 2em;
}

.what-where {
  font-weight: 800;
  margin-bottom: 1em;
  margin-top: 1em;
}

.promotion md-icon {
  font-size: 5em;
  text-align: center;
  height: auto;
  width: auto;
}

.promotion .icon-holder {
  display: inline-block;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100%;
  padding: 12px;
  height: 115px;
  width: 115px;
}


.sponsors figure {
  width: 300px;
  height: 200px;
  display: inline-block;
  position: relative;
  background-color: white;
  margin: 0.75em 0.75em 0.5em 0.75em;
}

.sponsors a {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.sponsors img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 1em;
  margin: 1em auto;
}

.venue {
  background: url("/images/miami-country-day-school-photo.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.venue .container {
  position: relative;
  height: 100%;
}

.venue .info {
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
  color: white;
  background: rgba(128, 0, 128, 0.47);
  padding: 1em;
  left: -1em;
}

nav .brand-logo {
  font-weight: 300;
  margin-left: 0.5em;
  font-size: 24px;
}

.organization {
  display: block;
  color: gray;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: 5px;
}